<appSettings>
    
  <!--
  UseConfigMode:
    Release     -for released version.
    Debug       -for debug/local IIS server version.
    IISExpress  -for debug in IIS express version. This is the default one.
  -->
  <add key="UseConfigMode" value="IISExpress"/>
  
  <!--
  Release config:
    Release_WebApi_Url              -main WebApi URL to connect (in release mode).
    Release_WebApiTest_RootPath     -root path (in release mode).
    Release_WebApiTest_MainPath     -main path (in release mode). Concatenated with root path.
    Release_WebApiTest_LogFolder    -log folder (in release mode). Concatenated with main path.
  -->
  <add key="Release_WebApi_Url" value="*********************************"/>
  <add key="Release_WebApiTest_RootPath" value ="***************************"/>
  <add key="Release_WebApiTest_MainPath" value ="*******************************"/>
  <add key="Release_WebApiTest_LogFolder" value ="********************************"/>

  <!--
  Debug config:
    Debug_WebApi_Url              -main WebApi URL to connect (in Debug mode).
    Debug_WebApiTest_RootPath     -root path (in Debug mode).
    Debug_WebApiTest_MainPath     -main path (in Debug mode). Concatenated with root path.
    Debug_WebApiTest_LogFolder    -log folder (in Debug mode). Concatenated with main path.
  -->
  <add key="Debug_WebApi_Url" value="********************************"/>
  <add key="Debug_WebApiTest_RootPath" value ="********************************>
  <add key="Debug_WebApiTest_MainPath" value ="********************************>
  <add key="Debug_WebApiTest_LogFolder" value ="********************************"/>

  <!--
  IISExpress config:
    IISExpress_WebApi_Url              -main WebApi URL to connect (in IISExpress mode).
    IISExpress_WebApiTest_RootPath     -root path (in IISExpress mode).
    IISExpress_WebApiTest_MainPath     -main path (in IISExpress mode). Concatenated with root path.
    IISExpress_WebApiTest_LogFolder    -log folder (in IISExpress mode). Concatenated with main path.
  -->
  <add key="IISExpress_WebApi_Url" value="********************************"/>
  <add key="IISExpress_WebApiTest_RootPath" value ="********************************"/>
  <add key="IISExpress_WebApiTest_MainPath" value ="********************************"/>
  <add key="IISExpress_WebApiTest_LogFolder" value ="********************************"/>

</appSettings>
